.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-img-top {
  height: 330px;
}
.App-link {
  color: #61dafb;
}

.card-title h5 {
  text-overflow: ellipsis;
}
.col-3 {
  height: 514px;
  text-overflow: ellipsis;
}
#radio1 {
  margin-left: 380px;
}
#radio2 {
  margin-left: 380px;
}
#g-male{
  margin-left: -800px;
}
#g-female{
  margin-left: -800px;
}
#product_details{
  height: 100vh;
  text-align: center;
  margin-top: 100px;
}
